/* Use a unique class for the BrowsePage component */
.browse-page-container {
  font-family: Arial, sans-serif;
  background-image: url(../../assets/CatReunite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 100px 0;
}

/* Header styles for BrowsePage */
.browse-page-container header {
  background-color: #333; /* Adjust to your needs */
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.browse-page-container header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.browse-page-container header p {
  font-size: 1.2rem;
}

/* Main content styles for BrowsePage */
.browse-page-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.browse-page-container .pet-list {
  text-align: left;
  width: 80%; /* Adjust to your needs */
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.browse-page-container .pet-list h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.browse-page-container .pet-list ul {
  list-style: none;
  padding: 0;
}

.browse-page-container .pet-list li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff; /* Add a border between pet items */
  padding-bottom: 1rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .browse-page-container main {
    flex-direction: column;
    align-items: center;
  }

  .browse-page-container .pet-list {
    width: 90%;
    margin-top: 1rem;
  }
}
