.browse-page-container {
  font-family: Arial, sans-serif;
  background-image: url(../../assets/Hamster.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 100px 0;
  /* To update the pahge when You get more data */
  min-height: 100vh;
  flex-grow: 1;
}

/* Header styles for BrowsePage */
.browse-page-container header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.browse-page-container header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.browse-page-container header p {
  font-size: 1.2rem;
}

/* Main content styles for BrowsePage */
.browse-page-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* New card styles */
.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns */
  grid-gap: 20px; /* Adjust the gap between cards */
  padding-bottom: 2rem; /* Add spacing at the bottom */
}

.project-card {
  /* background: #1a1919; */
  background: rgba(26, 25, 25, 0.8);
  padding: 1.2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}
.project-card:hover {
  background: rgba(26, 25, 25, 0.9);
}
.project-title {
  color: #e941ff;
  padding: 1rem 0;
  font-size: 1.5rem; /* Adjust the title font size */
}

.pro-details {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  color: rgb(39, 219, 251);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Change to a single column for small screens */
  }
}
