* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  font-family: Arial, sans-serif;
  background-image: url(../../assets/GermanDog.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: #0078d4;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
}

.home-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.signup-section,
.login-section,
.browse-section {
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}

.signup-section:hover,
.login-section:hover,
.browse-section:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.signup-section h2,
.login-section h2,
.browse-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signup-section p,
.login-section p,
.browse-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
  margin-right: 1rem;
}

.btn-primary {
  background-color: #0078d4;
  color: #fff;
}

.btn-secondary {
  background-color: #333;
  color: #fff;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #005ea2;
}

@media (min-width: 769px) {
  .home-page main {
    flex-direction: row;
    justify-content: space-around;
  }

  .signup-section,
  .login-section,
  .browse-section {
    width: 30%;
    margin-bottom: 0;
  }
}
