* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-image: url(../../assets/GermanDog.webp);
  background-size: cover; /* Adjust to your needs */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

/* Header styles */
header {
  background-color: #0078d4;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
}

/* Main content styles */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.signup-section,
.login-section {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-section h2,
.login-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.signup-section p,
.login-section p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #0078d4;
  color: #fff;
}

.btn-secondary {
  background-color: #333;
  color: #fff;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #005ea2;
}

/* Footer styles */
/* footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
} */

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .signup-section,
  .login-section {
    width: 90%;
    margin-bottom: 1rem;
  }
}
