.contact-container {
  /* background: black; */
  background-image: url(../../assets/CatReunite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
  font-weight: 3rem;
}

label {
  /* color: #fff; */
  /* background: black; */
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 3rem;
  /* font-family: 25px; */
}

form {
  /* background: black; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  max-width: 600px;
  border: 1px solid black;
  font-weight: 3rem;
  color: black;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: black;
}
