/* LoginPage.css */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #f5f5f5; */
  background-image: url(../../assets/CatReunite.jpg);
  background-size: cover; /* Adjust to your needs */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff; /* Set your desired button color */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Hover color */
}

p {
  text-align: center;
  margin-top: 15px;
}

/* Separate style for the registration form */
form:last-child {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
