.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/CatReunite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px; /* Added margin for better spacing */
}

.login-box h1 {
  margin-bottom: 20px;
  color: #333; /* Changed text color */
}

.login-input {
  width: 100%;
  padding: 12px; /* Increased padding for better input appearance */
  margin-bottom: 20px; /* Adjusted margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #166fe5;
}

.login-links {
  display: flex;
  flex-direction: column; /* Changed to column layout for better alignment */
  margin-top: 20px; /* Adjusted margin for better spacing */
}

.login-links button {
  margin-bottom: 10px; /* Added margin between buttons */
}

.fail {
  color: #ff0000;
}

button {
  text-align: center;
  outline: none; /* Removed outline for better appearance */
}
