.user-info-container {
  background-image: url("../../assets/CatReunite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to the top and footer to the bottom */
  align-items: center;
  color: #fff; /* Text color */
  font-family: Arial, sans-serif;
  padding: 20px; /* Add some padding for content */
}

.user-info-content {
  flex: 1; /* Grow and take remaining vertical space */
}
